@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size:cover;
    background-attachment: fixed;
}

section#telefone{
    background: url(../pacote-d013/imagens/frame-iphone.png);
    position: absolute;
    height: 627px;
    width: 311px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}



section#telefone > iframe#home{
    position: relative;
    top: 80px;
    left: 21px;
    width: 268px;
    height: 471px;
}

section#rede-social{
    text-align: right;
}


section#rede-social  img{
    position: relative;
    background-position: right;
    box-sizing: border-box;
    width: 50px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534)
}

section#rede-social  img:hover{
    
    border: 2px solid rgba(255, 255, 255, 0.301);
    transform: translate(-4px, -4px);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.589);
    transition: transform .6s, border .6s;
}

section#rede-social  img:active{
    transform: scale(95%);
}